body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}

.heading {
    font-size: 22px;
    font-weight: 500;
}

.subheading {
    font-size: 16px;
    padding-bottom: 60px;
}

p {
    color: #848484;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 28px;
}

hr {
    border-top: 2px solid #828282;
    width: 120px;
}

#menu, #gallery, #team, #home-recipes {
    padding-top: 100px;
    padding-bottom: 100px;
}

#menu,
#contact,
#register,
#login,
#add-recipe,
#recipe-user-info {
    background: #f0f0f0;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

/* preloader section */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
    width: 40px;
    height: 40px;
    background-color: #F6D76B;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

/* start navigation */
.navbar-default {
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    border: none;
    margin-bottom: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 28px;
}

.navbar-default .navbar-brand {
    color: #5C5C5C;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 3px 0 0 0;
}

@media (max-width:767px){
    .navbar-brand img{width: 100%; position: relative; z-index: 1;}
    .navbar-header .navbar-brand {max-width: 20%;}
}

.navbar-default .navbar-nav li a {
    font-size: 12px;
    letter-spacing: 1px;
}

.navbar-toggle {
    margin-top: 12px;
    margin-bottom: 12px;
}

@media (max-width:767px){
    .navbar-default .navbar-collapse .navbar-right {
        text-align: right;
    }
}

.username-nav-item .glyphicon-user {
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle;
}

.logout-nav-item .glyphicon-log-out {
    font-size: 22px;
}

/* errors */

.errors {
    margin-left: 180px;
}

.errors p {
    color: red;
}

label.error {
    font-weight: normal;
    color: red;
    line-height: 0;
    position: absolute;
    padding-left: 3px;
}

/* home navigation  */

#home-navigation {
    padding: 0px;
    width: 100%;
    clear: both;
    background: none;
    min-height: initial;
}

#home-navigation ul {
    font-size: 0;
    text-align: center;
}

#home-navigation ul li {
    font-size: 12px;
    display: inline-block;
    margin: 0 6px;
}

#home-navigation ul li::before {
    content: '\25cf\a0';
    vertical-align: 2px;
}

#home-navigation a {
    padding: 0 1px;
    font-size: 15px;
    color: #fff;
    background: none;
    max-width: 200px !important;
}

.home-btn-wrapper {
    position: relative;
    max-width: 1170px;
    margin: auto;
}

.home-btn {
    font-size: 28px;
    color: #b2b2b2;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
}

.home-btn:hover,
.home-btn:active,
.home-btn:focus {
    color: inherit;
}

/* home section */

.gallery-home-btn {
    top: 80px;
}

.menu-home-btn,
.team-home-btn {
    top: 120px;
}

.contact-home-btn {
    top: 100px;
}

#home {
    background: url('../images/home-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#home h1 {
    font-size: 20px;
    letter-spacing: 8px;
    font-style: normal;
    padding-top: 10px;
}

#home .btn {
    background: transparent;
    border-radius: 0;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 16px 42px;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #ffffff;
    color: #202020;
}

#home .register-btn {
    color: #fff;
}

/* team section */
#team {
    text-align: center;
}

#team h3 {
    font-size: 18px;
    line-height: 4px;
}

#team h4 {
    color: #5C5C5C;
    padding-top: 24px;
}

#team .col-md-4 {
    padding-top: 42px;
}

/* menu section */
#menu h4 {
    line-height: 1.5;
}

#menu .col-md-8 {
    padding-bottom: 42px;
}

#menu .col-md-6 {
    padding-bottom: 18px;
}

#menu span {
    float: right;
    color: #5C5C5C;
}

/* gallery section */
#gallery {
    padding-top: 80px;
    padding-bottom: 80px;
}

#gallery .col-md-4 {
    padding-top: 52px;
}

#gallery a.img-link {
    display: inline-block;
}

#gallery img {
    width: 100%;
    padding-bottom: 18px;
    max-width: 300px;
}

#gallery .col-md-4 div {
    position: relative;
    bottom: 18px;
    padding-bottom: 12px;
}

#gallery h3 {
    font-size: 18px;
    line-height: 8px;
}

/* contact section */
#contact,
#register,
#login,
#profile,
#add-recipe,
#recipe-view,
#all-users {
    padding-top: 80px;
    padding-bottom: 100px;
}

#contact .col-md-8,
#register .col-md-8,
#login .col-md-8,
#profile .col-md-8,
#add-recipe .col-md-8,
#recipe-view .col-md-8,
#all-users .col-md-8 {
    margin-bottom: 32px;
}

#contact .form-control,
#register .form-control,
#login .form-control,
#add-recipe .form-control {
    background: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}

#contact .form-control:focus,
#register .form-control:focus,
#login .form-control:focus,
#add-recipe .form-control:focus {
    border-color: #f9f9f9;
}

#contact input,
#register input,
#login input,
#add-recipe input,
#add-recipe select {
    height: 48px;
}

#contact input[type="submit"],
#register input[type="submit"],
#login input[type="submit"],
#add-recipe input[type="submit"] {
    background: transparent;
    border: 2px solid #999;
    border-radius: 10px;
    letter-spacing: 2px;
    margin-top: 12px;
    height: 50px;
}

#contact input[type="submit"]:hover,
#register input[type="submit"]:hover,
#login input[type="submit"]:hover,
#add-recipe input[type="submit"]:hover {
    background: #999;
    color: #ffffff;
}

/* footer section */
footer {
    background: url('../images/footer-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer h2 {
    padding-bottom: 14px;
}

footer h3 {
    padding-top: 8px;
}

footer p {
    color: #ffffff;
}

footer span {
    font-weight: bold;
    padding-left: 24px;
}

footer .ph, footer .address {
    padding-top: 12px;
    padding-bottom: 12px;
}

footer .fa {
    font-size: 12px;
    padding-right: 10px;
}

/* social icon */
.social-icon {
    padding: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.social-icon li a {
    background: #f0f0f0;
    border-radius: 50%;
    color: #5C5C5C;
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    margin-top: 12px;
    margin-right: 16px;
    top: 0;
    position: relative;
    padding: 0;
}

.social-icon li a:hover {
    background: #F6D76B;
    top: 5px;
}

/* copyright section */
#copyright {
    background: #343434;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

#copyright p {
    color: #ffffff;
}

#copyright a {
    color: #ffffff;
}

#copyright a:hover {
    color: #FF0;
}

/* profile section */

#profile {
    padding-top: 100px;
}

#profile .panel-heading h3 {
    padding: 0 0 10px 0;
}

#profile .panel-heading, #profile .panel-body {
    padding: 0;
}

#profile .btn, #recipe-view .btn {
    background: #999;
    color: #fff;
    border-radius: 0;
}

/* all recipes */

#all-recipes {
    padding: 100px 0 50px 0;
}

.recipe {
    margin: 15px 0;
}

.recipe-title {
    height: 45px;
}

.recipe h3 {
    font-size: 18px;
}

.recipe h3, .recipe h5 {
    margin: 5px 0;
}

.recipe a {
    color: #5C5C5C;
}

/* filter */

.filter input[type="text"], .filter select {
    width: 180px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.filter button {
    border: none;
    background: none;
    color: #ccc;
    font-size: 32px;
    margin-left: 3px;
    padding: 0;
    line-height: 0;
    vertical-align: -8px;
}

/* paging */

.paging {
    clear: both;
    text-align: center;
}

.paging ul {
    padding: 0;
}

.paging ul li {
    list-style-type: none;
    display: inline-block;
    width: 20px;
}

.paging ul li a {
    display: block;
    font-size: 18px;
}

.paging ul li a.active{
    text-decoration: underline;
    color: #333;
}

/* recipe view */

#recipe-view .ingredients {
    padding-left: 20px;
}

#recipe-view .btn {
    margin-top: 20px;
}

#recipe-user-info {
    padding-top: 20px;
    padding-bottom: 100px;
}

#recipe-user-info .user-info {
    margin-top: 20px;
}

#recipe-user-info .user-info .user-img-link {
    float: left;
    margin-right: 5px;
}

/* list users */

#all-users .row {
    clear: both;
}

#all-users .user {
    float: left;
}

/* image upload styles */

.choose-image {
    position: relative;
    margin-top: 10px;
}

.choose-image .file-input-mask,
.choose-image input[type="file"] {
    width: 160px;
    line-height: 48px;
    height: 48px;
}

.choose-image input[type="file"] {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.choose-image .file-input-mask {
    z-index: -1;
    position: absolute;
    text-align: center;
    background: #999;
    color: #fff;
}

.choose-image #input-file-name {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
